/*Fonts*/
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    color: #454545;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header Specifics*/
.header-title {
    margin-top: 0;
    margin-bottom: 0;
}

.header-left {
    padding-top: 20px;
    padding-left: 20px;
}

.header-email {
    margin-top: 0;
}

.header-right {
    padding-top: 20px;
    padding-right: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.icon {
    width: 32px;
    height: 32px;
    fill: darkgrey;
}

.icon:hover {
    fill: #454545;
}

.icon-link {
    text-decoration: none;
}

/*Body Specifics*/
.body-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

li {
    padding-bottom: 5px;
}

table {
    border-spacing: 0;
}

td {
    padding: 5px;
}

.ul-row {
    border-bottom: 2px solid #454545;
}

.bordered-column {
    border-left: 2px solid #454545;
    border-right: 2px solid #454545;
}

.ul-bordered-column {
    border-bottom: 2px solid #454545;
    border-left: 2px solid #454545;
    border-right: 2px solid #454545;
}

.fully-bordered {
    border: 2px solid #454545;
}

.mostly-bordered-left {
    border-top: 2px solid #454545;
    border-right: 2px solid #454545;
    border-bottom: 2px solid #454545;
}

.mostly-bordered-top {
    border-left: 2px solid #454545;
    border-right: 2px solid #454545;
    border-bottom: 2px solid #454545;
}

.mostly-bordered-top-left {
    border-right: 2px solid #454545;
    border-bottom: 2px solid #454545;
}

.bottom-caption {
    caption-side: bottom;
    font-size: medium;
    margin-top: 5px;
    /*text-align: left;*/
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 350px;
    padding: 10px;
    border: 2px solid darkgray;
}

.project:hover {
    border: 3px solid #454545;
    padding: 9px;
}

a.project-link {
    color: #454545;
    text-decoration: none;
    padding: 10px;
}

.project-image {
    width: 100%;
    object-fit: cover;
}

/*Health Project Specifics*/
/*https://www.digitalocean.com/community/tutorials/css-collapsible*/
input[type='checkbox'] {
    display: none;
}

.collapsible-toggle {
    display: block;
    transition: all 0s ease-out;
}

.collapsible-toggle:hover {
    font-weight: bold;
}

.collapsible-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid darkgrey;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle:checked + .collapsible-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0s ease-in-out;
}

.toggle:checked + .collapsible-toggle + .collapsible-content {
    max-height: 100%;
}

.active-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.activity-category {
    margin-left: 10px;
    padding: 10px;
}

.active-year {
    padding: 10px;
    margin-left: 20px;
}

.activities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 20px;
}

.activity {
    font-family: monospace;
    font-size: large;
    padding: 3px;
    margin: 2px;
    text-align: center;
    width: fit-content;
    border: 2px solid darkgrey;
}

.activity:hover {
    border: 3px solid #454545 !important;
    margin: 1px !important;
}

a.activity-link {
    color: #454545;
    text-decoration: none;
    padding: 10px;
}

canvas {
    padding: 5px;
    background-color: white;
    border-radius: 30px;
    border: 2px solid #454545;
}

/*Dark Theme*/
@media (prefers-color-scheme: dark) {
    body {
        background: #353535;
        color: white;
    }

    a {
        color: cornflowerblue;
    }

    a:visited {
        color: magenta;
    }

    a.project-link {
        color: white;
        text-decoration: none;
        padding: 10px;
    }

    .icon {
        width: 32px;
        height: 32px;
        fill: dimgrey;
    }

    .icon:hover {
        fill: white;
    }

    .project {
        border: 2px solid dimgray;
    }

   .project:hover {
       border: 2px solid white;
   }

   .ul-row {
        border-bottom: 2px solid white;
    }

    .bordered-column {
        border-left: 2px solid white;
        border-right: 2px solid white;
    }

    .ul-bordered-column {
        border-bottom: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid white;
    }

    hr {
        color: lightgrey;
    }

    .fully-bordered {
        border: 2px solid white;
    }

    .mostly-bordered-left {
        border-top: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }

    .mostly-bordered-top {
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }

    .mostly-bordered-top-left {
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }

    .activity {
        border: 2px solid dimgrey;
    }

    .activity:hover {
        border: 3px solid white !important;
        margin: 1px !important;
    }

    a.activity-link {
        color: white;
        text-decoration: none;
        padding: 10px;
    }

    canvas {
        border-width: 0;
    }
}
