table {
    border-spacing: 0;
}

td {
    padding: 5px;
}

.ul-row {
    border-bottom: 2px solid #454545;
}

.bordered-column {
    border-left: 2px solid #454545;
    border-right: 2px solid #454545;
}

.ul-bordered-column {
    border-bottom: 2px solid #454545;
    border-left: 2px solid #454545;
    border-right: 2px solid #454545;
}

.fully-bordered {
    border: 2px solid #454545;
}

.mostly-bordered-left {
    border-top: 2px solid #454545;
    border-right: 2px solid #454545;
    border-bottom: 2px solid #454545;
}

.mostly-bordered-top {
    border-left: 2px solid #454545;
    border-right: 2px solid #454545;
    border-bottom: 2px solid #454545;
}

.mostly-bordered-top-left {
    border-right: 2px solid #454545;
    border-bottom: 2px solid #454545;
}

.bottom-caption {
    caption-side: bottom;
    font-size: medium;
    margin-top: 5px;
    /*text-align: left;*/
}

/*Dark Theme*/
@media (prefers-color-scheme: dark) {
   .ul-row {
        border-bottom: 2px solid white;
    }

    .bordered-column {
        border-left: 2px solid white;
        border-right: 2px solid white;
    }

    .ul-bordered-column {
        border-bottom: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid white;
    }

    .fully-bordered {
        border: 2px solid white;
    }

    .mostly-bordered-left {
        border-top: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }

    .mostly-bordered-top {
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }

    .mostly-bordered-top-left {
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }
}
